connections {
{% for tunnel in strongswan_tunnels %}
{% if inventory_hostname == tunnel.left.inventory_hostname %}
{% set local, remote = tunnel.left, tunnel.right %}
{% endif %}
{% if inventory_hostname == tunnel.right.inventory_hostname %}
{% set local, remote = tunnel.right, tunnel.left %}
{% endif %}
{% if local is defined and remote is defined %}
    {{ tunnel.id }} {
      remote_addrs = {{ remote.public_ip }}
      local {
        auth = pubkey
        certs = endpoint_cert.pem
        id = "{{ local.inventory_hostname }}"
      }
      remote {
        auth = pubkey
        id = "{{ remote.inventory_hostname }}"
      }
      children {
        {{ tunnel.id }} {
          local_ts  = {{ local.local_ip | ansible.utils.ipaddr('network/prefix') }}
          remote_ts = {{ remote.local_ip | ansible.utils.ipaddr('network/prefix') }}
          start_action = {{ tunnel.start_action }}
          updown = {{ strongswan_conf_dir }}/updown.sh {{ local.local_ip }}
		  esp_proposals = {{ strongswan_child_esp_proposals }}
        }
      }
	  proposals = {{ strongswan_proposals }}
    }

{% endif %}
{% endfor %}
}
