#!/bin/bash

LOCAL_IP=$1

function add_tunnel() {
  TUNNEL="gretun-$PLUTO_CONNECTION"
  ip tunnel add "$TUNNEL" local $PLUTO_ME remote $PLUTO_PEER mode gre
  ip addr add $LOCAL_IP dev "$TUNNEL"
  ip link set $TUNNEL up
  ip route add $PLUTO_PEER_CLIENT dev $TUNNEL
}

function del_tunnel() {
  TUNNEL="gretun-$PLUTO_CONNECTION"
  ip route del $PLUTO_PEER_CLIENT
  ip link set $TUNNEL down
  ip addr del $LOCAL_IP dev $TUNNEL
  ip tunnel del $TUNNEL
}

if [[ "x$PLUTO_VERB" == "xup-client" ]]; then
  add_tunnel
fi

if [[ "x$PLUTO_VERB" == "xdown-client" ]]; then
  del_tunnel
fi
